<div class="hero-announcement-box">
    <p class="hero-announcement-text">
        <span class="hero-announcement-date">1.6.2025</span> 
        Opening A'la Carte Brunch <span class="hero-announcement-highlight">at half price</span>. 
        More info on social media.
    </p>
</div>
