<!-- Products Section -->
    <section class="px-2 products bg-amber-200 py-36 relative" id="products" 
        style="background-attachment: fixed; background-image: url('./assets/cover2.jpg'); background-size: cover; background-repeat: no-repeat; background-position: center;">
        
        <!-- Overlay for transparency -->
        <div class="absolute inset-0 bg-amber-200 opacity-90"></div>
        
        <!-- Content with relative positioning to appear above overlay -->
        <div class="relative z-10">
            <h2 class="text-6xl font-bold text-center mt-24 mb-16 text-amber-950">Our Products</h2>

            <div id="js-products" class="container min-h-150 mx-auto grid grid-cols-1 md:grid-cols-3 gap-4">

                <div class="product-card bg-amber-100 p-4 rounded">
                    <img src="bowl.gif" alt="" class="w-full sepia-60" />
                    <h3 class="text-2xl font-bold mt-2 text-amber-900">Loading...</h3>
                    <p class="text-xl mt-1 text-slate-700">€ ...</p>
                </div>
                <div class="product-card bg-amber-100 p-4 rounded">
                    <img src="bowl.gif" alt="" class="w-full sepia-60" />
                    <h3 class="text-2xl font-bold mt-2 text-amber-900">Loading...</h3>
                    <p class="text-xl mt-1 text-slate-700">€ ...</p>
                </div>
                <div class="product-card bg-amber-100 p-4 rounded">
                    <img src="bowl.gif" alt="" class="w-full sepia-60" />
                    <h3 class="text-2xl font-bold mt-2 text-amber-900">Loading...</h3>
                    <p class="text-xl mt-1 text-slate-700">€ ...</p>
                </div>

                <!-- End of product block -->
            </div>
        </div>
    </section>