.cursorrules


Static website for a music bar called "The Cliff"

The website will have a home page, a menu page, a contact page, and an about page.

The website will be built using HTML, CSS, and JavaScript.

